<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>
<body>
   <header>
      <h1>Home</h1>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/viewbookings">View Bookings</a></li>
         </ul>
      </nav>
   </header>

   <main>
      <form th:action="@{/bookings}" method="get">
   		<!-- Form fields and controls -->
   		<button type="submit">Get Bookings</button>
	</form>

   </main>

   <footer>
      <p>&copy; 2023 Cabby</p>
   </footer>
</body>
</html>